<div class="datasource-tree-container">
  <!-- filter -->
  <div class="filter-container light-background-color">
    <mat-form-field appearance="standard" fxFlex>
      <input id="filter-input" matInput placeholder="Search" [formControl]="filterTerm">
      <i class="icon-md ri-search-line" matSuffix *ngIf="!filterTerm.value"></i>      
      <button style="top:5px" mat-icon-button matSuffix *ngIf="filterTerm.value" (click)="filterTerm.setValue('')">
        <div style="padding-top:5px">
          <i class="icon-lg ri-close-fill"></i>
        </div>
      </button>
    </mat-form-field>
  </div>   


  <!-- all fields -->
  <mat-accordion multi="true" *ngIf="showFields; else tablesOnly">
 
    <mat-expansion-panel [expanded]="!!filterTerm.value?.length" *ngFor="let db of filtredData">
      <mat-expansion-panel-header class="main-color">
        <mat-checkbox 
          class="checklist-leaf-node"
          [checked]="dbDescendantsAllSelected(db)"
          [indeterminate]="dbDescendantsPartiallySelected(db)"
          (change)="dbChanged($event.checked, db)"
          (click)="$event.stopPropagation()">
          {{ db.name }}
        </mat-checkbox>
      </mat-expansion-panel-header>
      
      <ng-container>                
        <!-- tables -->
        <div class="tree-padding">
          <mat-accordion multi="true">        
            <mat-expansion-panel [expanded]="!!filterTerm.value?.length" *ngFor="let table of db.itens">
              <mat-expansion-panel-header class="main-color">
                <mat-checkbox 
                  class="checklist-leaf-node"
                  [checked]="tableDescendantsAllSelected(table)"
                  [indeterminate]="tableDescendantsPartiallySelected(table)"
                  (change)="tableChanged($event.checked, table)"
                  (click)="$event.stopPropagation()">
                  {{ table.name }}
                </mat-checkbox>
              </mat-expansion-panel-header>

              <!-- fields -->
              <div class="tree-padding">
                <ng-container *ngFor="let field of table.itens">
                  <mat-checkbox 
                    class="checklist-leaf-node"
                    [checked]="field.selected"
                    (change)="fieldChanged($event.checked, field)">
                    <i class="icon-md ri-node-tree"></i>&nbsp;{{ field.name }}
                  </mat-checkbox>
                </ng-container>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </ng-container>
      
    </mat-expansion-panel>

  </mat-accordion>

</div>

  <!-- template - tables only -->
  <ng-template #tablesOnly>

    <mat-accordion multi="true">

      <mat-expansion-panel [expanded]="!!filterTerm.value?.length" *ngFor="let db of filtredData">
        <mat-expansion-panel-header class="main-color">
          <mat-checkbox 
            class="checklist-leaf-node"
            [checked]="dbDescendantsAllSelected(db)"
            [indeterminate]="dbDescendantsPartiallySelected(db)"
            (change)="dbChanged($event.checked, db)"
            (click)="$event.stopPropagation()">
            {{ db.name }}
          </mat-checkbox>
        </mat-expansion-panel-header>
        
        <ng-container>         

          <!-- tables -->
          <div class="tree-padding">
            <ng-container *ngFor="let table of db.itens">
              <mat-checkbox 
                class="checklist-leaf-node"
                [checked]="tableDescendantsAllSelected(table)"
                [indeterminate]="tableDescendantsPartiallySelected(table)"
                (change)="tableChanged($event.checked, table)">
                {{ table.name }}
              </mat-checkbox>
            </ng-container>  
          </div>
  
        </ng-container>
        
      </mat-expansion-panel>
  
    </mat-accordion>

  </ng-template>
