.type-icon {
  color: #757575;
  margin-right: 5px;
}

.tree-padding {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  gap: 8px;  
}
.filter-container{
  border-radius: 4px;
  padding: 0 16px;

  mat-form-field{
    bottom: 13px;
    height: 40px;
    ::ng-deep .mat-form-field-underline{
      display: none;
    }
  }
}

.mat-expansion-panel-header {
  height: 40px !important;
}



.cdk-drag-preview {
  background-color: #e8f0f6;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


// when used as field picker
.fields-picker { 
  background: #e8f0f6 !important;
  border-radius: 4px;
  padding: 16px;

  .filter-container {
    background-color: white !important;
    margin-bottom: 8px;
  }

  mat-tree {
    background: unset !important;
  }
}

.field-tree {
  max-height: 280px;
  overflow: auto;
}