<!-- grid -->
<gridster [options]="options">
          
  <!-- charts -->
  <gridster-item [id]="chart.ChartConfigId" [item]="chart.gridConfig" [class.item-editing]="editingChartId === chart.ChartConfigId" *ngFor="let chart of chartsCollection" (click)="editChart(chart)">
    <!-- toolbar -->
    <div class="tile-header" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- title and edit -->
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <i class="icon-md ri-drag-move-fill drag-handler" (click)="$event.stopPropagation()"></i>
        <span>{{ chart.Name }}</span>
      </div>
      <!-- remove -->
      <i class="icon-md ri-close-line tab-icon" (click)="deleteChart(chart)"></i> 
    </div>
    
    <div class="gridster-item-content no-drag chart-wrapper"> 
      <app-chart [chart]="chart"></app-chart>
    </div>
  </gridster-item>

  <!-- visual -->
  <gridster-item [id]="visual.VisualConfigId" [item]="visual.gridConfig" [class.item-editing]="editingVisualId === visual.VisualConfigId" *ngFor="let visual of visualsCollection" (click)="editVisual(visual)">
    <!-- toolbar -->
    <div class="tile-header" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- title and edit -->
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <i class="icon-md ri-drag-move-fill drag-handler" (click)="$event.stopPropagation()"></i>
        <span>{{ visual.Name }}</span>
      </div>
      <!-- remove -->
      <i class="icon-md ri-close-line tab-icon" (click)="deleteVisual(visual)"></i> 
    </div>
    
    <div class="gridster-item-content no-drag visual-wrapper">
      <app-visual [visual]="visual" [dashboard]="dashboardItem"></app-visual>
    </div>
  </gridster-item>