<div class="flex">

  <!-- main toolbar -->
  <mat-toolbar>
    <mat-toolbar-row class="main-toolbar">
      <span>Proactive DB</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="secondary-toolbar main-background-color white-color">
      <!-- second row -->   
    </mat-toolbar-row>
  </mat-toolbar>
  
  <!-- Adds -->
  <div class="adsense-above">
    <app-adsense></app-adsense>
  </div>

  <div class="app-main-container" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between start" style="margin-right: 50px;">
    <!-- main -->
    <div class="main-container" fxLayout="column" fxLayoutAlign="space-between none"  fxFlex="grow" >
      <div>
        <router-outlet></router-outlet>
      </div>


      <!-- Adds -->
      <div class="adsense-below" fxLayout="row" fxLayoutGap="16px">
        <div>
          <app-adsense></app-adsense>
        </div>

        <div fxFlex fxLayout="column" fxLayoutGap="16px">
          <app-adsense></app-adsense>
          <app-adsense></app-adsense>
        </div>
      </div>

    </div>

    <div #toolbox class="toolbox-container" [@openClose]="toolboxOpened ? true : false" fxFlex="noshrink">
      <!-- close -->
      <div class="close-btn">
        <a mat-icon-button [routerLink]="['/', { outlets: {toolbox: null} } ]">
          <mat-icon>close</mat-icon>
        </a>    
      </div>
      <router-outlet (activate)="toolboxOpened = true" (deactivate)="toolboxOpened = false" name="toolbox"></router-outlet>
    </div>
  </div>

</div>

<!-- main menu -->
<app-menu></app-menu> 




