// this will fit the all content inside div
.flex { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: stretch; }
mat-toolbar { flex: 0 0 auto; }
mat-drawer-container { flex: 1 1 0; }
.app-main-container { flex: 1 1 0; overflow: auto; }

.close-btn {
  float: right;
}

//toolbar
.main-toolbar {
  height: 48px;
  background-color: white;
  padding: 0 42px;
}

.secondary-toolbar {
  height: 32px;
  padding: 0 42px;
}

// addsense 
.adsense-above {
  max-width: 728px;
  height: 90px;
  padding: 16px 40px 16px;
}

.adsense-below {  

  //padding: 16px 40px 16px;

  > div:first-child {
    width: 250px;
    height: 250px;
  }

  >div:last-of-type {
    app-adsense{
      max-width: 728px;
      height: 90px;
    }
  }
}


.main-container {
  //background: yellow;
  padding: 0 0px 16px;
  height: 100%;
  margin: 0 40px;
  > div:first-child {
    position: relative;
    height: 100%;
    margin-bottom: 16px;
    background-color: white;
    padding: 0 16px 16px;
  }
}

.toolbox-container {
  background: white;
  width: 560px;
  height: 90%;
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  overflow: auto;
}

.toolbox-closed {
  visibility: hidden;
  width: 0;
}
