<!-- Main content -->
<div class="dashboard-container" >
    
  <!-- Dashboard tabs -->
  <mat-tab-group #tabs mat-align-tabs="start">
    <mat-tab #tab *ngFor="let dashboard of dashboards">
      <ng-template mat-tab-label>
        <i class="icon-md ri-edit-line tab-icon" (click)="editDashboard(dashboard.Id)"></i>

        <span [class.main-color]="tab.isActive">{{ dashboard.Name }}</span>  

        <i class="icon-md ri-close-line tab-icon"></i> 
      </ng-template>

      
      <ng-template matTabContent>
        <!-- grid -->
        <gridster [options]="options" *ngIf="ready">
          
          <!-- charts -->
          <gridster-item [id]="chart.ChartConfigId" [item]="chart.gridConfig" [class.item-editing]="editingChartId === chart.ChartConfigId" *ngFor="let chart of dashboard.charts">
            <!-- toolbar -->
            <div class="tile-header" fxLayout="row" fxLayoutAlign="space-between center">
              <!-- title and edit -->
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <i class="icon-md ri-edit-line tab-icon" (click)="editChart(chart)"></i>
                <span>{{ chart.Name }}</span>
              </div>
              <!-- remove -->
              <i class="icon-md ri-close-line tab-icon" (click)="deleteChart(chart)"></i> 
            </div>
            
            <div class="gridster-item-content">
              <app-chart [chart]="chart"></app-chart>
            </div>
          </gridster-item>

        </gridster>
      </ng-template>
      
    </mat-tab>
  </mat-tab-group>

  <!-- +New tab -->
  <div class="actions-tabs-container main-color">
    <div>+ New</div>
  </div>

</div>