<div class="toolbox-header">
  <h4 class="main-color">Toolbox</h4>
  <hr> 
</div>

<div class="toolbox-body">

  <mat-accordion multi="true">

    <!-- chart types -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="main-color">
        Chart types
      </mat-expansion-panel-header>
      
      <ng-container *ngFor="let chartType of chartTypes"> 
        <ng-content *ngTemplateOutlet="chartWidget; context: {type: chartType, draggable: !isEditing}"></ng-content>
      </ng-container>
      
    </mat-expansion-panel>
    

    <!-- other elements -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="main-color">
        Other elements
      </mat-expansion-panel-header>
  
      <ng-container *ngFor="let visualType of visualTypes"> 
        <ng-content *ngTemplateOutlet="visualWidget; context: {type: visualType, draggable: !isEditing}"></ng-content>
      </ng-container>
  
    </mat-expansion-panel>
    
    <ng-container *ngIf="isEditing">
      <ng-content *ngTemplateOutlet="!!chart ? editingChartConfig : null"></ng-content>

      <ng-content *ngTemplateOutlet="!!visual ? editingVisualConfig : null"></ng-content>
    </ng-container>

  </mat-accordion>

</div>


<!-- chart widget template -->
<ng-template #chartWidget let-type="type" let-draggable="draggable">
  <ng-container [ngSwitch]="type.chartType">
    <div class="widget text-color">
      <div         
        class="widget-icon white-color main-background-color" 
        [class.green-background-color]="chart && type.chartType === chart.ChartType"
        [ngClass]="{ 
          'disabled-background-color disabled': isChartWidgetDisabled(type)
        }"
        [draggable]="draggable" 
        (dragstart)="draggable ? onDrag($event, { collection: 'charts', type: type.chartType }) : null"
        (click)="!draggable ? changeChartType(type) : null">

        <i *ngSwitchCase="'line'" class="icon-lg ri-line-chart-line"></i>
        <i *ngSwitchCase="'bar'" class="icon-lg ri-bar-chart-line"></i>
        <i *ngSwitchCase="'pie'" class="icon-lg ri-pie-chart-line"></i>
        <i *ngSwitchCase="'radar'" class="icon-lg ri-pie-chart-box-line"></i>
        <i *ngSwitchCase="'polar'" class="icon-lg ri-pie-chart-box-line"></i>
        <i *ngSwitchCase="'bubble'" class="icon-lg ri-bubble-chart-line"></i>

        <i *ngSwitchDefault class="icon-lg ri-question-line"></i>
      </div>
      
      <span *ngSwitchCase="'line'">Line</span>
      <span *ngSwitchCase="'bar'">Bar</span>
      <span *ngSwitchCase="'pie'">Pie</span>
      <span *ngSwitchCase="'radar'">Radar</span>
      <span *ngSwitchCase="'polar'">Polar</span>
      <span *ngSwitchCase="'bubble'">Bubble</span>

      <span *ngSwitchDefault>Unknown</span>
    </div>
    
  </ng-container>
</ng-template>

<!-- chart editing -->
<ng-template #editingChartConfig>
  <div fxLayout="column">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="main-color">
        Configurations
      </mat-expansion-panel-header>    
    
      <div style="margin: 0px 0 24px">
        <label >
          Name:
          <input [(ngModel)]="chart.Name">
        </label>
      </div>

      <!-- data/shaping -->
      <mat-tab-group>
        <mat-tab label="Data">
          <div fxLayout="column" fxLayoutGap="8px">       
            <app-dataset-picker 
              [datasourceItems]="availableDatasources"
              [(xAxisField)]="chart.XAxisMetadataEntry"
              [(yAxisFields)]="chart.Fields">
            </app-dataset-picker>
          </div>
        </mat-tab>

        <mat-tab label="Shaping"></mat-tab>
        
      </mat-tab-group>

      

    </mat-expansion-panel>

    <button class="custom-button main-background-color white-color" (click)="saveChart$.next()">Save</button>
  </div>
</ng-template>


<!-- visual widget template -->
<ng-template #visualWidget let-type="type" let-draggable="draggable">
  <ng-container [ngSwitch]="type.visualType">
    <div class="widget text-color">
      <div         
        class="widget-icon white-color main-background-color" 
        [class.green-background-color]="visual && type.visualType === visual.VisualType"
        [ngClass]="{ 
          'disabled-background-color disabled': isVisualWidgetDisabled(type)
        }"
        [draggable]="draggable" 
        (dragstart)="draggable ? onDrag($event, { collection: 'visuals', type: type.visualType }) : null">

        <i *ngSwitchCase="1" class="icon-lg ri-shape-line"></i>
        <i *ngSwitchCase="2" class="icon-lg ri-h-1"></i>

        <i *ngSwitchDefault class="icon-lg ri-question-line"></i>
      </div>
      
      <span *ngSwitchCase="1">Rectangle</span>
      <span *ngSwitchCase="2">Text label</span>

      <span *ngSwitchDefault>Unknown</span>
    </div>
    
  </ng-container>
</ng-template>

<!-- visual editing -->
<ng-template #editingVisualConfig>
  <div fxLayout="column">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="main-color">
        Configurations
      </mat-expansion-panel-header>    
    
      <div style="margin: 0px 0 24px">
        <label >
          Name:
          <input [(ngModel)]="visual.Name">
        </label>
      </div>

      <div fxLayout="column" fxLayoutGap="8px">
        Under construction
      </div>

    </mat-expansion-panel>

    <button class="custom-button main-background-color white-color" (click)="saveVisual$.next()">Save</button>
  </div>
</ng-template>