.menu-container { 
  width: 48px;
  background-color: #3e64a0;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 16px 0;
}

.menu-sidenav-content {
  width: 48px;
}

mat-icon {
  color: white;
}

.vertical-spacer {
  width: 32px;
  border-bottom: 1px solid white;
}