<div class="menu-container" fxLayout="column" fxLayoutAlign="start center">

  <!-- datasources -->

  <a class="main-color" [routerLink]="['/', { outlets: {toolbox: 'datasource-toolbox'} } ]" routerLinkActive="white-color main-background-color is-active">
    <i class="icon-lg ri-database-line"></i>
  </a>

  <!-- add charts -->
  <a class="main-color" [routerLink]="['/', { outlets: {toolbox: 'add-chart-toolbox'} } ]" routerLinkActive="white-color main-background-color is-active">
    <i class="icon-lg ri-pie-chart-line"></i>
  </a>

  <!-- add visual -->
  <a class="main-color" [routerLink]="['/', { outlets: {toolbox: 'add-visual-toolbox'} } ]" routerLinkActive="white-color main-background-color is-active">
    <i class="icon-lg ri-collage-line"></i>
  </a>
  
</div>