<div class="menu-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">

  <!-- datasources -->
  <a mat-icon-button [routerLink]="['/', { outlets: {toolbox: 'datasource-toolbox'} } ]">
    <mat-icon>storage</mat-icon>
  </a>

  <!-- add charts -->
  <a mat-icon-button [routerLink]="['/', { outlets: {toolbox: 'add-chart-toolbox'} } ]">
    <mat-icon>addchart</mat-icon>
  </a>

  <!-- add visual -->
  <a mat-icon-button [routerLink]="['/', { outlets: {toolbox: 'add-visual-toolbox'} } ]">
    <mat-icon>extension</mat-icon>
  </a>
  
</div>