/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e8f0f6;}

.main-color {
  color: #326dff;
}
.white-color {
  color: white;
}
.text-color {
  color: rgb(0 0 0 / 54%);
}

.light-background-color {
  background-color: #e8f0f6;
}

.main-background-color {
  background-color: #326dff;
}

.green-background-color {
  background-color: #8fc52b;
}

.disabled-background-color {
  background-color: #ada8a8;
}

// icon sizes
.icon-md {
  font-size: 18px;
}

.icon-lg {
  font-size: 24px;
}

/* override */
a{
  text-decoration: none;
}

/* globals */
.toolbox-header {
  padding: 8px 16px;
  h4{
    margin: 0px 0 8px;
  }
  hr {
    border-color: #326dff;
    opacity: .3;
  }
}

.toolbox-body {
  padding: 0 16px;
}

.custom-button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
}

.spacer {
  flex-grow: 1;
}

/* Material overrides */
mat-expansion-panel {
  box-shadow: none !important;
}
mat-expansion-panel-header {
  padding-left: 0px !important;
}
.mat-expansion-panel-body { padding: 0 !important }

mat-tree-node {
  min-height: unset !important;
  height: 40px;
}
.mat-form-field-infix {
  width: auto !important;
}