/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e8f0f6;}

.main-color {
  color: #326dff;
}
.white-color {
  color: white;
}

.main-background-color {
  background-color: #326dff;
}

// icon sizes
.icon-md {
  font-size: 18px;
}

.icon-lg {
  font-size: 24px;
}

/* override */
a{
  text-decoration: none;
}